[2018-07-09 20:43] liamquin opened #1 "reduce dependencies"
i usually advise people to have as few dependencies as they can get away with on other groups, because you need active sign-off from them to publish a Rec. So i'd take WoT and Publishing off as hard formal requirements.

The timeline looks achievable to me depending on how many dissenting voices join the WG :) and overall looks fine as a draft. Thanks for doing this.

[2018-07-10 12:35] msporny commented on #1
Ok, will do.

[2018-07-10 12:36] #1 closed, assigned to nobody

[2018-07-18 08:37] peacekeeper opened #2 "DID Resolution"
There seems to be agreement that eventually there should be a separate spec for DID Resolution. An early skeleton document for this exists at https://w3c-ccg.github.io/did-resolution/.

Let's decide whether DID Resolution should be 1. In scope of the DID WG Charter, 2. Listed as an optional deliverable, or 3. Not in scope for now, first incubate it further in the Credentials CG.

[2018-10-05 17:22] jandrieu opened #3 "Replace "owner" with "controller""
As mentioned elsewhere, "owner" is a problematic term. "Controller" would be more rigorous.

[2018-10-05 18:22] #3 closed, assigned to nobody

[2018-10-05 18:22] msporny commented on #3
Done.

[2018-10-05 18:25] ChristopherA commented on #3
+1 to c/own/control/

It is clear to me looking at various long term legal issues that GDPR is on side the side of identity control from a basis of human rights , whereas US/Google/Facebook wants identity as property.

[2018-10-16 16:04] jandrieu opened #4 "Machines don't own things"
The opening bullet list says:

Except, machines don't own things.

[2018-10-16 17:43] msporny commented on #4
Fixed in https://github.com/w3c-ccg/did-wg-charter/commit/4cb6dca57ab91ebb5a53ef004c950044ee0204bb by changing "owned" to "controlled".

[2018-10-16 17:43] #4 closed, assigned to nobody

[2018-10-22 07:33] burnburn opened #5 "DID charter does not include defining DID (scheme) itself"
The charter only lists the specification of DID documents, but not the DID url itself (the DID scheme).  This is a critical omission.

[2018-10-22 11:42] burnburn opened #7 "Charter does not include defining the DID URI scheme"

[2018-10-23 11:23] #7 closed, assigned to nobody

[2018-10-24 12:02] lehors opened #8 "Draft charter doesn't say that the DID syntax is in scope"
The current text only talks about the DID Document.

[2018-10-24 12:04] lehors commented on #8
Never mind I now see another issue was already raised on this.

[2018-10-24 12:04] #8 closed, assigned to nobody

[2018-10-31 01:17] kimdhamilton commented on #5
We may also need to clarify what's out of scope, e.g.:
- DID auth
- Resolver

[2019-02-07 08:40] koalie opened #9 "Use cases are outside of the charter"
The mission of the WG is to enable a number of use-cases which are described in a document that lives in google docs, outside of the charter itself.

[2019-02-07 08:47] jandrieu commented on #9
Yes. I'm not sure what the issue is.

The charter specifies use cases as a deliverable, which will be a separate document from both the charter and the specification. At this stage, an early draft is in Google docs. Frankly, it's more of a gathering of input at the stage than a distilled representation of the most apt use cases. Eventually it will be a suitable description of a variety of key uses

[2019-02-07 08:52] koalie commented on #9
My suggestion would be to identify a few use-cases the work enables and write those down in the "mission of the group" section instead of the pointer to google docs, or to replace the google docs link by the abstraction of what the spec fulfills.

[2019-02-07 10:40] jandrieu commented on #9
Ahh... I had forgotten that the Google link was in the charter.

I believe the intention was to get a proper ReSpec version of that document before finalizing the charter, following the example used in the Verifiable Claims Working Group charter.

We should do that.

If we did, would it address your issue? Or do you think the approach in the VCWG charter didn't work?

[2019-02-07 21:23] sandhawke opened #10 "Are there any strong use cases?"
It remains unclear to me what DIDs can do that can't be done much simpler by https URLs and/or public keys. It remains especially unclear what purpose blockchain technology serves in any of this.

I read some of the [use cases document](https://docs.google.com/document/d/1wz8sakevXzO2OSMP341w7M2LjAMZfEQaTQEm_AOs3_Q), but I didn't see any that actually justified this work.  A proper use case should

[2019-02-08 15:45] sandhawke commented on #10
I've been trying without success to address this issue myself.

Here's why it's hard, I think:

1. A DID is an identifier which includes a mechanism for securely obtaining certain additional associated data.  In various protocols & formats, one might encounter a DID, and then, yay, one can securely find the associated data (like end-point URLs for various interactions, etc).
2. In any of those pro

[2019-02-09 00:44] sandhawke commented on #9
Yeah, maybe rename the current Uses Cases document to "Some Ideas For Possible DID Use Cases", or something distancing like that.   It's quite far from a real Use Cases document.

Also, I think the charter must provide at least one solid use case.  I raised this as #10.

[2019-02-11 10:12] koalie commented on #9
@jandrieu the combination of what you suggest and what @sandhawke suggests would address my issue: identifying a few use-cases or the main one and writing that in the charter, and adding a pointer to an external document as a way to read more about that/those.

The issue is that of creating a dependency on the rationale for the working group to an external document which can be amended anytime (wh

[2019-02-12 19:03] msporny commented on #9
@koalie wrote:

The Credentials Community Group is executing on this now: https://w3c-ccg.github.io/did-use-cases/

The same group put this use cases document together for the Verifiable Credentials WG charter proposal a few years ago, so we expect it to end up in that state eventually: https://w3c.github.io/vc-use-cases/

We're behind in getting the use cases document finalized due to debate in t

[2019-02-13 11:50] Drabiv commented on #10
DIDs distinguishing promise is to enable digitally sovereign and everlasting (undeletable) identities.

We need such everlasting and sovereign identities for the long-term high stakes cooperation, for example: storing and transferring money (blockchain-based tokens); signing digital documents that represent property or political rights, contractual obligations, etc.

Here is a use case, describing

[2019-02-13 14:19] sandhawke commented on #10
Thanks for the response @Drabiv (here and [on twitter](https://twitter.com/Drabiv/status/1095660402925596672)).

To my eye, the "United Humans" entry is more of a problem space or project idea, with many different aspects, than a specific use case. Maybe we can narrow it down to one specific problem within that space?  Let me try narrowing it a bit.

I see the description talks about money.  What

[2019-02-13 15:48] Drabiv commented on #10
The successful funding of the organization of the United Humans depends on its ability to directly and continuously distribute its money (the UH blockchain token) to people in a fair way (equally to all people who wants to participate in the distribution).
To establish this direct, continuous and equal distribution of money we need sovereign digital identities that uniquely represent humans.
- The

[2019-02-13 18:33] sandhawke commented on #10
Okay.  It sounds like this is a scenario where DIDs would be useful:

1. Alice wants to donate N Satoshi per day to each of the residents of her small home town.
1. On a visit, she collects the DIDs of several people in the town, people she trusts.
1. She asks them to help her maintain a list of DIDs of each person in the town, one DID per town resident. They do this by linking from their own DID

[2019-02-14 18:15] Drabiv commented on #10
@sandhawke thanks for the comment and "Alice-Bob" interpretation of the UH use case. I think you are wrong in the perception of a few properties of this use case, which lead you to the wrong interpretation the use case over all. I'll shortly comment a few of yours quotes that I think are wrong (and hopefully, tomorrow I'll write mine Alice-Bob interpretation of the UH use case).

All small towns a

[2019-02-14 20:14] sandhawke commented on #10
My goal here is to get someone to make a solid case for why DIDs are useful.  Without that, I don't think a WG can be chartered. You put forward the UH use case as potentially a solid one, and I think it is the most solid I've seen so far (as I interpreted it).  We can't take the strongest one, say sure it has problems, but that's okay because there are others.  No, the strongest case must be laid

[2019-02-14 20:30] jandrieu commented on #10
The current best draft is at https://w3c-ccg.github.io/did-use-cases/

It's still a rough start, but I think it should address your requirements. I'd appreciate any feedback you might have.

[2019-02-14 20:40] sandhawke commented on #10
Thanks @jandrieu  - so much better than what was linked from the charter.

[2019-02-14 20:43] msporny commented on #10
Charter has been updated to point to the document @jandrieu noted above in https://github.com/w3c-ccg/did-wg-charter/commit/d3a2ae0856f23a354047dc840d3d180ef84f03a5.

[2019-02-14 21:35] sandhawke commented on #10
They could perhaps be stronger, but they no longer strike me as a major problem, so I'm closing this issue.

[2019-02-14 21:35] #10 closed, assigned to nobody

[2019-04-09 12:37] nadalin opened #12 "Clarify statement around VCWG coordination re Normalization and Signatures"
"Verifiable Claims Working Group
Coordination on named graph indexing and other concerns regarding support for normalization and digital signatures"

Remove or reword as there is no normalization or signatures in VC WG, there should be no dependencies on VC for DID

[2019-04-09 12:40] nadalin opened #13 "DID V1.0"
"Each DID Document contains at least three things: cryptographic material, authentication suites, and service endpoints. Cryptographic material combined with authentication suites provide a set of mechanisms to authenticate as the DID subject (e.g. public keys, pseudonymous biometric protocols, etc.)."

Reword as there should be no authentication discussed in this WG and as I understand it there s

[2019-04-09 12:42] nadalin opened #14 "Out of Scope: Auth, Signing, Cryptography mechanisms"
Please add "defining any authentication mechanisms,  signing mechanisms or cryptography mechanisms" or what ever wording you see fit to express that these are out of scope

[2019-04-09 12:44] nadalin opened #15 "Out of Scope: Access Management and Identity Management"
You have "Solving Identity" on the Web" is out of scope but you have "Concentrate their efforts on the identified use cases with a particular focus on Identity and Access Management. Use cases from other industries may be included if there is significant industry participation." which is focusing on Identity Management and Access Management.

I expect Access Management and Identity Management to b

[2019-04-09 12:49] nadalin opened #16 "General: current language precludes DIDs/methods leased from an authority"
"DIDs are controlled by individuals, organizations, and machines, not leased from an authority (e.g. DNS Registrars). "

You can't preclude that I don't want to have a DID controlled only by a individual, so

"DIDs maybe controlled by individuals, organizations, and machines"

[2019-04-09 12:52] nadalin opened #17 "Authentication"
"The controller of a DID can cryptographically authenticate themselves (e.g. DID-based website login) ."

This should be removed as authentication out of scope for this WG and I'm not sure that a DID must always provide this feature

."

[2019-04-09 12:54] nadalin opened #18 "Discovery"
"DIDs provide discovery information for bootstrapping into more secure and privacy preserving communication protocols (e.g. encrypted messaging endpoints). "

I'm not sure what "more secure protocols means" Clarify please as it sound like you are inventing some new security protocols

[2019-04-09 12:56] nadalin opened #19 "Portability"
"DIDs provide a path to service agnostic data portability (e.g. switching between Verifiable Credential digital wallet providers). "

There should be no dependency on VC so add another example or remove VC as a example as this leads one to belive this is only about VC

[2019-04-09 13:00] nadalin opened #20 "More General Comments"
"Decentralized Identifiers (DIDs) are a new type of identifier for verifiable, "self-sovereign" digital identity. DIDs are fully under the control of the DID subject, independent from any centralized registry, identity provider, or certificate authority. DIDs are URLs that relate a DID subject to means for trustable interactions with that subject. DIDs resolve to DID Documents — simple documents t

[2019-04-09 21:30] nadalin opened #21 "Scope"
This charter does not make sense if there is nothing to interoperate on, there needs to be some DID methods defined, w/o this you can never be assured of interop, I understand there may some proprietary ones but there needs to be a base line here,

[2019-04-10 15:50] brentzundel commented on #21
What if the WG took as a work item in their charter to publish the [peer DID method spec](https://dhh1128.github.io/peer-did-method-spec/index.html)?
It is intended as a platform and data registry agnostic way to use DIDs.

This would provide:
- a means of real interoperability
- a reference implementation of a DID Method Spec
- a defined baseline for expected functionality of DID Methods

[2019-04-15 18:26] nadalin commented on #2
@peacekeeper There has to be some mechanisms in scope for interoperability

[2019-04-15 18:28] nadalin commented on #9
@koalie I think this would have to be a output of the WG and thus in the charter to create such a document

[2019-04-15 19:34] peacekeeper commented on #2
@nadalin do you mean
1. Interoperability between different DID methods (e.g. Sovrin DIDs, BTCR DIDs, etc.)? This is a basic assumption anyway and this is exactly what the spec is about. All DIDs will resolve to the same interoperable document format. No matter what type of DID you use, discovering its public key or agent/hub/etc. endpoint always works the same way.
2. Interoperability with non-DID

[2019-04-15 22:56] koalie commented on #9
@nadalin (and all) I apologise for the ambiguous title for this issue. When I raised it, the use-cases that the charter proposes the group to enable were listed outside of the charter. The issue is that the list can be updated/removed at any time.

To fix the issue, the charter should be self-contained as much as possible.

[2019-04-16 00:12] jandrieu commented on #9
The charter explicitly includes use cases as a deliverable of the working group. As I'm sure you can appreciate, it isn't possible to put the output of the working group directly in the charter.

I recommend closing this issue as a non-issue.

[2019-04-16 17:28] nadalin commented on #2
@peacekeeper So point is that there should be documented DID methods such as BTCR that anyone could implement and interoperate upon, so if I pick up the DID document it will list BTCR and I can then look in the normative reference and find the BCTR method and implement that and that would be a sign of a interop if 2 or more can actual use a specified mechanism

[2019-04-16 18:01] nadalin commented on #5
@kimdhamilton Agree on DID Auth, but leaving a defined resolver out not sure how one would show interop, I agree that working on a resolver is out of scope

[2019-04-16 18:29] talltree commented on #5
I too noticed that the charter did not explicitly say "Define the DID URI Scheme". I guessed that the authors assumed it would be part of defining the data model. But for this spec, the definition of the DID scheme is central enough that it should be called out explicitly.

[2019-04-17 17:44] kimdhamilton commented on #9
Summarizing into proposal:

- Instead of referencing the google doc, reference the more highly curated [DID use cases](https://w3c-ccg.github.io/did-use-cases/) (still in progress)
- Clarify that the use cases are not finalized inputs; rather, the WG will revisit/revise and produce use cases as outputs. I think language like this is causing the concern, and can easily be tweaked:
    - "The Creden

[2019-04-17 17:47] nadalin commented on #9
"The Credentials Community Group has developed a set of use cases and requirements that will serve as an initial input for this output document"

Also would like to make sure the IPR on this input is clean

[2019-04-17 17:47] kimdhamilton commented on #5
This is an omission; seems non-controversial to make this change

[2019-04-17 17:49] kimdhamilton commented on #15
Changing title from "Out of Scope" to "Out of Scope: Access Management and Identity Management"

[2019-04-17 17:50] kimdhamilton commented on #14
Changed title from "Out of Scope" to "Out of Scope: Auth, Signing, Cryptography mechanisms"

[2019-04-17 17:55] kimdhamilton commented on #16
I agree to the "are controlled by" -> "may be controlled by" change.

We may have to soften the latter part of the sentence too, e.g. "not _necessarily_ leased from an authority". (But there's probably a better way to express that...)

[2019-04-17 17:57] kimdhamilton commented on #19
Verifiable Credentials are just listed as an example here, but we should double-check the language to ensure we're not calling out VCs as a dependency

[2019-04-17 18:04] dlongley commented on #14
Whatever wording we use should make sure we don't preclude defining extension points for where things like authentication go.

[2019-04-17 18:17] nadalin commented on #14
@dlongley Only if there if there is a mechanism referenced that one can use for interop otherwise field is useless

[2019-04-17 18:18] nadalin commented on #19
@kimdhamilton Maybe add others and not limit

[2019-04-17 18:20] nadalin commented on #16
@kimdhamilton My point is that someone may want a DID from a central authority, this specification should not exclude that

[2019-04-17 18:22] nadalin commented on #5
@kimdhamilton Only if this limits this to only a VC and I would have to understand why this has to be a URI Scheme

[2019-04-17 19:36] kimdhamilton commented on #16
exactly, that's my understanding of what you meant. I think we need a general audit to ensure we don't preclude central authorities.

[2019-04-18 17:26] kimdhamilton commented on #5
Brought this up to date: https://github.com/w3c-ccg/did-wg-charter/pull/6/files

[2019-04-18 17:34] nadalin opened #22 "Decentralized Identifier: "Decentralized" in working group name"
So I'm going to question the name of this WG as I don't think that this identifier mandates "decentralization", that seems mandate the usage, the usage should be up to the deployment

[2019-04-18 19:36] brentzundel commented on #22
At this point I'd say the DID is called a decentralized identifier because that's what it's been called for years, and because the system in which it was considered valid at the time was conceived was a decentralized one.

I would love to consider the ways it may still be considered decentralized to see if there is a legitimate reason for keeping the name, otherwise it may make more sense to call

[2019-04-18 19:43] nadalin commented on #22
@brentzundel It does not have to be user controlled or decentralized you are forcing a implementation detail upon a name

[2019-04-18 21:25] brentzundel commented on #22
@nadalin, I am not forcing anything. (Please do not assuming we are disagreeing just because we have elsewhere :)

I am trying to explore the meaning of the word decentralized and posing questions to see if there are legitimate reasons to keep it. I should have been more clear that the questions I posed were not for you, they are for the community.
If legitimate reasons cannot be supplied, I agree

[2019-04-18 23:00] peacekeeper commented on #22
There are discussions [here](https://github.com/w3c-ccg/did-spec/pull/179) and [here](https://github.com/w3c-ccg/did-spec/pull/180) and [here](https://github.com/w3c-ccg/community/issues/65) and [here](https://github.com/w3c-ccg/did-method-registry/pull/25) on what "decentralized" means and whether that property of DIDs should be sacrificed.

Personally, I find it unbelievable that this discussion

[2019-04-19 00:43] jandrieu commented on #16
FWIW, there's significant opposition to this from the spec editors. I don't happen to agree, but we should bubble up the debate to see if we can get consensus. https://github.com/w3c-ccg/community/issues/65#

[2019-04-19 01:56] jandrieu commented on #22
DIDs are decentralized quite simply because the DID method allows you do specify the root of trust.

http URIs are centralized because you either provide an IANA-issued IP address or a DNS host name based on specific root authorities.

Decentralized doesn't mean decentralized all the way down--that would be distributed. That's not what we are doing here.

What we are doing is allowing any valid ro

[2019-04-19 02:03] jandrieu commented on #9
Yes. It was all developed in the CCG which has, as you know, a W3C IP policy designed to make sure it is "clean".

[2019-04-19 02:04] jandrieu commented on #9
@kimdhamilton The charter already links to the re-spec version.

[2019-04-19 06:08] peacekeeper commented on #16
If people want identifiers from a central authority, no problem. Verifiable credentials, agents, data stores, etc. should be open to work with any kind of identifier people want to use. But it's not a "Decentralized Identifier" (DID) if it's from a central authority.

[2019-04-19 09:04] peacekeeper commented on #2
@nadalin Yes absolutely. The DID Resolution spec, in conjunction with a certain DID method spec (such as btcr), will enable this. Different implementations of a DID resolver will produce the same result for a given input DID. In the case of btcr, there are already at least 3 independent implementations out there (although in practice they are not completely interoperable yet).

[2019-04-19 09:47] mitfik commented on #16
Agree with @peacekeeper you can easily connect your DID to existing centralize identity through Verifiable credentials by asking for centralize authority to verify that you are in control of that DID. This way you can easily achieve kind of bridge between centralize and decentralize identity. For example we are planning to do that with certificates issued by government to create verifiable credent

[2019-04-19 14:49] nadalin commented on #22
@jandrieu If I want to make FaceBook the root of trust I should be able to, this also does not mean that I can't have a central root of trust if I so desire

[2019-04-19 14:57] nadalin commented on #2
@peacekeeper So I'm glad you agree that there will be defined DID methods in the specification and there will interop on those methods, so the charter just needs to be clarified to show that

[2019-04-19 15:30] jandrieu commented on #22
I'm not following. @nadalin I'm in favor of did:facebook and it's like. But the second half of the sentence didn't parse:"this also does not mean that I can't have a central root of trust if I so desire." What you can't do is force every DID to use a central root of trust the way http URLs do. That's the centralization we are replacing. HTTP URLs require a central trust in IANA and DNS. DIDS have

[2019-04-19 15:41] peacekeeper commented on #2
I don't think the DID spec will itself define or even mention concrete DID methods such as "btcr", but the DID spec will define the DID method mechanism as well as requirements for DID method specs, so that methods can then be defined in a way that enables interoperable implementations.

[2019-04-19 15:52] peacekeeper commented on #22
+1 to the statement _"If I want to make FaceBook the root of trust I should be able to"_.

-1 to calling a FaceBook username a _"Decentralized Identifier"_.

If we want to change course and now standardize a syntax and discovery format for any kind of identifier, not just decentralized, then I agree with @nadalin's original comment in this thread that the WG should have a different name, and the s

[2019-04-19 15:53] nadalin commented on #22
@jandrieu I agree you can't force but the identifier should allow if that is an implementation I choose, how I implement the did:facebook is nothing the specification should deal with since it's only a data model/schema.

[2019-04-19 17:58] jandrieu commented on #22
Again, I'm not sure why it seems you think you're disagreeing with me. We both seem to disagree with Markus... I'm saying DIDs allow any root of trust and that is what decentralized identifiers do.

To require that all DIDs are based on specific technologies, like DLTs, has never been part of the consensus. However, all of the DID methods that have consensus support are, in fact, based on distribu

[2019-04-19 19:16] nadalin commented on #22
@jandrieu OK, I was misreading your reply, that is my understanding also, so yes we both disagree with Markus.

[2019-04-19 20:17] jcnelson commented on #22
I am 100% with @peacekeeper on this.

**DIDs do NOT have a root of trust**.  You will notice no DID methods specify an administrative domain to process DID resolution.  **THIS IS BY DESIGN.**

If you want your identity resolution protocol to specify a root of trust, use an OpenID URL.  DIDs do not, and will **never** identify an administrative domain for resolution.

[2019-04-19 20:19] jcnelson commented on #16
@nadalin Did you create an account just to troll this working group?

[2019-04-19 20:22] jcnelson commented on #16
@mitfik It's not a DID if it mandates a particular administrative domain for handling resolution.

[2019-04-19 20:27] jcnelson commented on #20
Yes they do.

The method field specifies the mechanism.

Yes they do.  Otherwise it's not self-sovereign.

That we can agree on.

Determining the trustworthiness of claims in the DID document is outside the scope of this WG.  However, what is in scope for this WG is ensuring that a given DID resolves to a DID document that could _only_ have been produced by the DID owner (in the absence of key com

[2019-04-19 20:42] OR13 commented on #22
To me the most important part of the word "decentralization" regarding the spec, is the idea that a user might control some or all keys in a document. There could be a never ending debate regarding how decentralized any network technology is, even public crypto economic incentivized blockchains like bitcoin and ethereum have geographic centralization, any technology that relies on DNS, IANA, BGP,

[2019-04-19 21:31] nadalin commented on #16
@jcnelson This is not a WG, please review what is a WG and what is not https://www.w3.org/Consortium/activities

[2019-04-19 21:41] nadalin commented on #20
@jcnelson There is no discussion about Self-Sovereign in the proposed charter.

Without specifying and/or defining a mechanism you can't impose any requirements such as has to be under the control of the DID.

The same with ensuring that the DID resolves to a DID document that could only have been produced by the DID owner.

[2019-04-19 21:43] nadalin commented on #22
@jcnelson " DIDs do not, and will never identify an administrative domain for resolution." Since this is just a data model you can't enforce your opinion

[2019-04-19 22:15] jcnelson commented on #16
I'll take that as a "yes."

[2019-04-20 03:24] jandrieu commented on #20
@jcnelson There are no claims in a DID Document and "DID owner" is no longer in use as a term to describe the entity that controls a DID. That is a DID Controller.

However, you are correct that the DID resolution process ensures that the DID Document was in fact generated and/or posted by the DID Controller. That's the point. If a method can't cryptographically verify the DID Document, that defin

[2019-04-20 11:13] peacekeeper commented on #20
@jandrieu You're confusing 1. "A DID Document is cryptographically verifiable" with 2. "A DID is cryptographically verifable".

**ad 1.:** As the reference you mentioned explains, a DID Document that is "cryptographically verifiable" (e.g. it has a signature) does not prove that it is the correct DID Document for a given DID. I agree with you that the (only) way to get the correct DID Document for

[2019-04-20 15:54] dlongley commented on #20
Thumbs up to what @peacekeeper said. DIDs are decentralized because there is "no single identifier creator or owner for all DIDs". This was the intention from 5 years ago when the term was coined and the idea was that there would be a single WebDHT for all DIDs (no DID methods). We've since added DID "methods" and changed "owner" to "controller", so this notion still applies but it reads more like

[2019-04-20 16:32] mrinalwadhwa commented on #20
A chain of signed updates (while significantly better than not having a chain) still leaves the possibility of presenting a stale chain leaving out recent updates ... for instance to make a revoked key / service endpoint appear valid.

A sufficiently decentralized store of DID documents mitigates against that possibility.

[2019-04-20 16:45] dlongley commented on #20
@mrinalwadhwa,

+1 -- I wasn't trying to design a foolproof DID method via my comment, I was only trying to offer what I believe to be an important distinction wrt decentralization.

[2019-04-20 19:12] kimdhamilton commented on #16
I think we are all speaking past each other.

There's the question of whether the Decentralized Identifier specification should enable interop with centralized systems. In my understanding, the "yes" camp believes interop will contribute to the success of Decentralized Identifiers, but this comes with an associated risk of being dominated by centralized approaches.

There is healthy debate happeni

[2019-04-20 19:14] kimdhamilton commented on #9
@jandrieu no argument there; the PR kept that the same

[2019-04-22 18:48] nadalin commented on #16
@kimdhamilton Would be better for discussion to continue here as there are folks that are not part of CCG

[2019-04-22 19:17] jandrieu commented on #16
Good point, Tony.

This charter is developed under the CCG IPR. You really should join if you would like to make substantive contributions.

[2019-04-22 19:51] nadalin commented on #20
@dlongley Why are you saying that this must be a chain? Nothing in the charter says anything about a chain.

[2019-04-22 21:27] dlongley commented on #20
@nadalin,

I'm not saying that; apologies if that was unclear.

It's up to the authors of any particular DID method to ensure that each DID (under that method) is independently controlled by its designated creator/controller. This is one way that DIDs are decentralized vs. other identifiers where the entire namespace and related resources are exclusively controlled by a central authority. This is

[2019-04-22 21:28] nadalin commented on #20
This specification needs to be able to work with existing Web Resources

[2019-04-23 02:31] talltree commented on #20
If existing Web Resources (and existing URIs) did everything we have designed DIDs to do, then we wouldn't need DIDs. So while it's not a bad thing that the DID spec **could** be used with existing Web Resources, it's actually dangerous if an implementation uses it existing Web Resources in a way that makes it look like they are achieving the goals of the spec without actually doing so.

[2019-04-23 03:09] nadalin commented on #20
@talltree How is it dangerous if that is what the user wants?

[2019-04-24 02:35] Joachim16 commented on #16
@kimdhamilton I can see your points... and I agree that we need to have this discussion and come to at least "consent". I just would like to point out that we probably have different mindsets around the table: Web2 and Web3. The proposal is understandable that from a Web2 perspective. Web2 parties would like to enable interop between centralized systems (Web2) and decentralized systems (Web3) - or

[2019-04-25 15:56] rhiaro commented on #22
+1, I think this is at the heart of the issue. Certainly seems from all the discussion over the past weeks that different people have different ideas about what is "decentralized", or decentralized *enough*.

[2019-04-25 17:02] talltree commented on #21
@brentzundel While it is tempting to expand the scope of the charter to include defining one "common DID method", that would actually violate the design principle of separating the scheme spec from any scheme instances. The pattern for the DID spec is the URI spec (RFC 3986). That spec defines the generic syntax for URIs, and all URI schemes are separate specs (in fact, the DID spec is one of thos

[2019-04-25 17:08] nadalin commented on #21
@talltree Without defining methods you can't stipulate the semantics of "decentralized" (what ever that means) and thus anyone can have any method that does what it wants, and thus there will be interoperability issues.

The charter does not state the design principle of separating the scheme spec from any scheme instances.

[2019-04-25 17:15] nadalin commented on #22
So I will go back to the main question, if you can't agree on "decentralized" then why is this a "decentralized" identifier, this is just a identifier as there are no specific methods specified and I can make my method do anything it wants, DID:Facebook

[2019-04-25 20:30] brentzundel commented on #21
@talltree I do not believe that allowing the WG to also publish the peer DID spec would constitute defining "one common DID method." I agree that the great power of the DID spec is the ability to define separate method specs. There are already many great method specs that have been written.

The great thing about the peer DID method spec is that it is platform agnostic. This makes it uniquely qual

[2019-04-25 21:44] ChristopherA commented on #22
Decentralized is a continuum, not a binary “is” or “is not”. Even what I believe to be the most decentralized method, BRCR based on Bitcoin, would not qualify as being as fully decentralized as even Bitcoin is, and Bitcoin itself is not completely decentralized either.

But I do believe can define a rubric where methods can be compared side-by-side to the level of decentralization they offer.

[2019-04-25 21:46] nadalin commented on #22
Interesting spin

[2019-04-25 22:00] peacekeeper commented on #22
One obvious rubric could be: Has the technical infrastructure been designed to distribute consensus of the state of the identifier across multiple independent entities? (Or similar wording)

did:web and did:facebook would say "false", whereas did:btcr, did:uport, did:v1, did:sov would say "true"

[2019-04-28 16:14] peacekeeper commented on #21
I agree with @talltree that publishing individual method specs should probably be out of scope and happen elsewhere. While the "peer" method is very useful and quite different from other methods, it is still only one concrete implementation - among many - of the DID concept. In the future we may see more methods like "peer" that don't require a blockchain/ledger but use a different protocol than t

[2019-05-13 21:54] nadalin opened #33 "Normative Specifications"
"The Credentials Community Group has developed a Final Community Group Specification for Decentralized Identifiers that has been shipped in multiple production-grade commercial systems that will serve as input for this document."

We should be starting with a set of requirements not a specification, that can follow, if the proposed specification has a set of requirements these should be listed in

[2019-05-16 17:32] kimdhamilton commented on #12
Key concern is not requiring JSON-LD processor for JSON-only syntaxes

[2019-05-16 17:37] kimdhamilton commented on #13
we need to reword to say we're enabling those things, not defining, and not necessarily requiring

[2019-05-16 17:39] kimdhamilton commented on #14
we have to enable mechanisms, but not define them

[2019-05-16 17:45] kimdhamilton commented on #16
clearly define the ideal, point to rubrics as reference for analyzing (these are input that will be refined during WG). Use this to describe how we may need to vary for bridging to existing methods

[2019-05-16 17:46] kimdhamilton commented on #20
See #16

[2019-05-16 18:00] kimdhamilton commented on #21
5/16/2019 discussion:
- proposed compromise: WG will attempt to define a DID method (as a stretch goal, if everyone can agree on it)
- counter: conflicts with URI model

[2019-05-16 18:01] kimdhamilton commented on #22
see #16

[2019-05-16 18:05] kimdhamilton commented on #33
5/16/2019 proposal: convert [DID Actions](https://w3c-ccg.github.io/did-use-cases/#did-actions) to requirements

[2019-05-17 19:31] #5 closed, assigned to nobody

[2019-05-17 22:27] kimdhamilton commented on #13
is #14 a dupe of this?

[2019-05-30 12:26] nadalin commented on #12
@kimdhamilton and not pulling in unfinished/non-started standards like the LD-Signature and LD-C14N specs

[2019-05-30 12:30] nadalin commented on #13
@kimdhamilton It's different but along the same concerns

[2019-05-31 17:08] kimdhamilton commented on #13
I see; those are indeed different statements in the charter. I'll update my spreadsheet.

[2019-05-31 17:29] kimdhamilton commented on #15
I originally addressed this in https://github.com/w3c-ccg/did-wg-charter/pull/30, but that change got clobbered in a merge. Re-added in https://github.com/w3c-ccg/did-wg-charter/pull/34

[2019-05-31 17:33] kimdhamilton commented on #14
Addressed in https://github.com/w3c-ccg/did-wg-charter/pull/34

[2019-05-31 17:41] kimdhamilton commented on #13
Note: we need to reword this to say we're enabling those things, not defining, and not necessarily requiring:

[2019-05-31 17:43] kimdhamilton commented on #2
I think this is ok to close
cc: @msporny @peacekeeper

[2019-05-31 19:22] kimdhamilton commented on #12
What about something like this?

"Coordination on named graph indexing and other concerns in support of syntaxes/proof mechanisms requiring canonicalization, in a manner that does not impose burden (in the form of standards or libraries) if otherwise not required."

(Sorry that it's awkward, I'm still learning)

@burnburn @msporny @nadalin

[2019-06-01 12:41] peacekeeper commented on #2
@kimdhamilton I agree to close it for now.

[2019-06-01 12:41] #2 closed, assigned to nobody

[2019-06-03 17:07] nadalin commented on #12
@kimdhamilton I can't parse that to tell if proof mechanisms are in or out of scope as it sounds like they are as long as you don't burden them with C14N, is that right?

[2019-06-03 17:10] nadalin commented on #14
@kimdhamilton This should also say something about the interoperability not just the enabling as enabling may not get us to any interoperability

[2019-06-03 17:32] nadalin opened #35 "self-sovereign"
"Decentralized Identifiers (DIDs) are a new type of identifier for verifiable, "self-sovereign" digital identity."

I would remove "self-sovereign" and leave it at decentralized as we had a discussion in ISO last week about this and consensus from national bodies was this was not well understood and limiting

[2019-06-03 18:24] nadalin opened #36 "DID Benefits"
"DIDs have benefits over more traditional URLs" this section says nothing about CONS like not being able to use the same DID across different implementations with different methods

[2019-06-03 18:50] nadalin opened #37 "Interoperability"
There should be a section in the charter on interoperability, stating what level of interoperability is being achieved with this proposed WG so that people have clear expectations of what this will and will not provide.

[2019-06-03 21:11] nadalin commented on #12
"Coordination on named graph indexing and other concerns regarding support for normalization and digital signatures." the VCWG is not working on normalizations and signatures as that is out of scope for that WG I was told. So I would leave it at "Coordination on named graph indexing."

[2019-06-04 18:32] brentzundel commented on #36
I don't have a problem with adding potential CONS to the charter. Could you provide more examples?

[2019-06-04 18:32] brentzundel commented on #36
In response to the specific CON you have suggested, I am not understanding how it is a CON.
Conceptually, the relationship of the DID specification and a DID method specification is similar to the relationship of the IETF generic URI specification ([RFC3986]) and a specific URI scheme ([IANA-URI-SCHEMES] (such as the http: and https: schemes specified in [RFC7230]).

Pointing out that one is not `

[2019-06-04 18:35] nadalin commented on #36
@brentzundel because it may cause issues like, no interoperability between implementations that have different methods, may cause the user to have multiple DIDs since crypto may different or relationship may be 1:1 or 1:n

[2019-06-04 19:01] brentzundel commented on #36
@nadalin I see.
I've begun a PR to introduce these cons, but would appreciate any more you are aware of so that the section can be more complete.

[2019-06-11 18:56] nadalin commented on #36
@brentzundel The other issue is crypto, since the charter just seems to be a data model proposal, the issue about crypto interoperability comes up where I generate an ID with one algorithm and now I can't use this with some sites since they don't support the algorithm, and now I have to generate a new ID and pretty soon I get a too many IDs to manage and not sure which one goes where

[2019-06-11 18:56] nadalin commented on #37
Also see #36

[2019-06-12 21:48] nadalin opened #42 "Web Support"
I don't understand why there is no requirement for web support (browser), how are these identifiers going to be used via the web?

[2019-06-14 03:42] nadalin opened #43 "Methods vs. Operations"
So there is an issue about interop and defining a method or multiple methods, another option would be to define the operations, that each method must implement and then interop on the operations that each method must support

[2019-06-27 20:15] msporny commented on #9
No objections to close on DID WG Charter Task Force call on 2019-06-27. Closing.

[2019-06-27 20:15] #9 closed, assigned to nobody

[2019-06-27 20:22] msporny commented on #14
The group discussed this on the 2019-06-17 call and agreed that the PR that was merged reflects the desire of the group to enable mechanisms. The group also discussed adding statements around interoperability as suggested by @nadalin but felt that the current text in the current charter is appropriate. Closing.

[2019-06-27 20:22] #14 closed, assigned to nobody

[2019-06-27 20:26] msporny commented on #15
We discussed this on the 2019-06-27 call and agreed that the merged PR further clarifies that IAM is out of scope, but the group wants to enable it. Closing.

[2019-06-27 20:26] #15 closed, assigned to nobody

[2019-06-27 20:29] msporny commented on #17
This was discussed on the 2019-06-27 call, the group agreed that the PR is appropriate. There was confirmation that @nadalin agreed to the change during a separate call. Closing.

[2019-06-27 20:29] #17 closed, assigned to nobody

[2019-06-27 20:32] msporny commented on #18
The PR removes the word "more" as requested. The group discussed if this change was adequate on the 2018-06-27 call and agreed that it was. Closing.

[2019-06-27 20:32] #18 closed, assigned to nobody

[2019-06-27 20:34] msporny commented on #19
The group discussed this on the 2019-06-27 call and agreed that the PR clarifies that the charter is not limited to being only applicable to Verifiable Credentials. Closing.

[2019-06-27 20:34] #19 closed, assigned to nobody

[2019-06-27 20:44] msporny commented on #12
The group discussed this on the 2019-06-27 call and agreed that we should remove the language, primarily because the Verifiable Claims Working Group will not exist by the time the DID WG starts. The group also identified that we should have more groups listed in this section and will raise another issue to ensure that we have more groups listed so that it is easier to understand where this work fi

[2019-06-27 20:47] msporny commented on #12
Removed reference to W3C Verifiable Claims WG in this commit: https://github.com/w3c-ccg/did-wg-charter/commit/0b05193fdbfc81929558652ab8120c4c0d255faa

[2019-06-27 20:47] brentzundel opened #44 "Coordination section needs more"
The coordination section should add W3C working, interest, and community groups with whom the DIDWG will coordinate.

[2019-06-27 20:47] msporny commented on #12
New issue raised for making coordination section better: https://github.com/w3c-ccg/did-wg-charter/issues/44

[2019-06-27 20:50] msporny commented on #12
We discussed this on the 2019-06-27 call, made the changes above, and the group agreed that we have addressed this issue. Closing.

[2019-06-27 20:50] #12 closed, assigned to nobody

[2019-06-27 21:26] msporny commented on #16
The group discussed this on the 2019-06-27 call and agreed with the change. The group merged https://github.com/w3c-ccg/did-wg-charter/pull/27 to effect the change. Closing.

[2019-06-27 21:26] #16 closed, assigned to nobody

[2019-06-27 21:29] msporny commented on #22
The group discussed this on the 2019-06-27 call and agreed that "Decentralized" was the right word to use for the WG and also agreed to define what the word "Decentralized" means through a rubrics deliverable that the WG will produce. This change was made in PR #28. Closing.

[2019-06-27 21:29] #22 closed, assigned to nobody

[2019-06-27 21:39] brentzundel opened #46 "add link to SSI principles"
The "Self-Sovereign Principles" document has shaped much of the thought and direction of decentralized identifiers, so there should be a reference to it in the charter.

[2019-06-27 21:42] msporny commented on #35
The group discussed this on the 2019-06-27 call. We merged PR #38 to remove the term "self-sovereign" from the introductory text. We have opened a new issue #46 to point to the self-sovereign identity principles as an input to the Working Group. Closing.

[2019-06-27 21:42] #35 closed, assigned to nobody

[2019-06-27 21:45] msporny commented on #13
The group discussed this on the 2019-06-27 call and agreed on merging PR #45 to address this issue. Closing.

[2019-06-27 21:45] #13 closed, assigned to nobody

[2019-06-27 21:48] ChristopherA commented on #46
Version 1.0 of the principles is at https://github.com/WebOfTrustInfo/self-sovereign-identity/blob/master/self-sovereign-identity-principles.md — there is some discussion in the issues in that repository toward iterating to a 1.1 or 2.0 version of the principles.

[2019-06-27 22:00] nadalin commented on #35
@msporny Are the Principles being submitted as part of charter? If not then this might be an issue since I don't know the purpose of pointing to them or how we would input to them as part of the charter

[2019-06-27 22:09] nadalin commented on #15
@msporny you have to explain what "enable" means as the charter needs to be very clear on scope and some people think "enable" means define/implement, I would not accept this being closed w/o clarification

[2019-06-28 14:32] msporny commented on #35
They are being referenced in the Charter so that they are used as an input document to the WG.

It's the same as pointing to a use cases document as *one* of the inputs to the WG. It provides guidance to the WG that the "self-sovereign identity principles" document is something that the WG should consider when refining the specification, but it does not necessarily insist that the document itself

[2019-06-28 14:41] msporny commented on #15
@TallTed has further refined what is meant by "enable" in PR #49 and it seems to be aligned with what you were wanting. We'll review and most likely merge this change in the next call.

[2019-07-01 22:26] msporny commented on #20
PR #50 is designed to address this issue. The "verification" and "trustable interactions" language should stay because:

* A DID Document contains verification methods (such as public keys) for verifying exchanges of digital information.
* A verification of a digital signature is a "trustable interaction".

Thus, it is true that DIDs provide both things.

[2019-07-01 22:34] msporny commented on #21
I suggest that the interoperability criteria is the same as for the Uniform Resource Identifier and Verifiable Credentials Data Model specifications. That is, we are demonstrating syntax and data model interoperability. If the VC Data Model specification is published as a PR/REC, then it's clear that this is an appropriate path forward and what @nadalin is requesting is not necessary.

If W3C Memb

[2019-07-01 22:44] nadalin commented on #21
@msporny Please read issue #43 as I'm asking for either method or operation level interop, I don't agree with closing this, without a statement on interoperability that all can understand

[2019-07-01 22:45] msporny commented on #33
Agree that we should rename "DID Actions" to "Decentralized Identifier Requirements", and then note that the requirements can be discussed as actions that are contemplated to be supported by the ecosystem. This will require a PR to the DID Use Cases document.

No change is required to the DID WG Charter since it references Decentralized Identifier Use Cases v1.0. The Use Cases document doesn't hav

[2019-07-01 22:52] msporny commented on #36
The success criteria in the DID WG Charter contains the following text:

Also, note that the specification already contains those sections, which will be expanded during the WG's operation:

* https://w3c-ccg.github.io/did-spec/#security-considerations
* https://w3c-ccg.github.io/did-spec/#privacy-considerations

Those are the appropriate sections for concerns/cons related to specifications, not a

[2019-07-01 22:54] nadalin commented on #36
@msporny Then I suggest that you remove the statement in my initial post above

[2019-07-01 22:56] jandrieu commented on #33
There is a category error here.

The DID Action section is a list of actions you can do with DIDs. It is NOT, as such, a list of requirements, but merely a listing of supported actions.

Rather, from the Use Case document, it is actually the Features set that is a more complete set of requirements for DIDs.

I believe Kim's suggestion was to do something like we did in the VC-data-model spec, whic

[2019-07-01 22:59] jandrieu commented on #36
@nadalin But DIDs *do* have benefits over more traditional URLs.

That's the point.

If there weren't benefits, we wouldn't be doing all this work.

+1 to closing this with no changes to the charter.

[2019-07-01 23:11] msporny commented on #42
The group is scoping the DID WG Charter to something that they feel is achievable given the shorter WG timeframes at W3C these days.

Therefore, browser APIs are marked as out of scope for this charter.

There may be work performed in the future with respect to browser APIs. At present, organizations are using DIDs outside of the browser environment as well as within the browser environment withou

[2019-07-01 23:15] msporny commented on #43
Different DID Methods may implement DID operations differently and this is largely a protocol issue, which you will note is out of scope in the charter.

PR #51 sets clear expectations wrt. interop.

Suggest we close the issue with no changes to the charter.

[2019-07-01 23:16] jandrieu commented on #42
DIDs are identifiers with clear resolution and dereferencing semantics. Browser use (within the address bar or as the target for an anchor tag) is the same as for any new URL scheme. It may be relevant to explain that more clearly.

However, for in-DOM use, e.g., by JavaScript on a web page, I agree with Manu that such an API is out of scope.

Is there any appropriate place to state something alon

[2019-07-01 23:44] jandrieu commented on #43
Agreed. #51 is a good adjustment to make sure the group tackles this problem adequately.

+1 to closing.

[2019-07-02 02:35] nadalin commented on #43
@msporny I don't agree with resolution and closing

[2019-07-02 02:59] nadalin commented on #42
@msporny I don't agree with the resolution since the charter is unclear, needs to call it out in the out of scope section

[2019-07-02 03:02] nadalin commented on #36
@jandrieu list the benefits then. They also have disadvantages.

[2019-07-02 03:29] jandrieu commented on #43
Propose a resolution, then, @nadalin

The spec already defines which operations a method MUST support.

What would you like to see changed and what would you like it changed to?

[2019-07-02 03:35] jandrieu commented on #36
The benefits are, in fact, listed immediately after the text you quote:

Unless you have meritorious objections, I recommend closing this issue.

[2019-07-02 03:35] nadalin commented on #43
@jandrieu Then that should be the proposed interoperability point, and defining operations is not defining a protocol. Propose to add a section on interperability and state that interop will happen on the operations level independent of the method

[2019-07-02 03:53] jandrieu commented on #43
You misunderstand, @nadalin. The operations that MUST be supported is not the same as how those operations are implemented, which is a protocol level spec.  And all of this is spec work that merely needs to be identified as work for the working group. The charter is NOT the place to specify the operations.

Let me ask more clearly, what text, in the charter, would you like changed and what would y

[2019-07-02 14:46] peacekeeper commented on #36
It's true that different DID methods may support different crypto, but you'd still have interoperability on the data model level. You could compare this to TLS where different implementations and configurations may use different cipher suites, but TLS as a whole is still standardized and interoperable across sites and implementations.

[2019-07-02 18:02] #44 closed, assigned to nobody

[2019-07-02 18:06] msporny commented on #20
We discussed this issue on the 2019-07-02 call and the group agreed to pull in PR #50 after changes suggested by the group have been made and close this issue after the PR is merged.

[2019-07-02 18:40] brentzundel commented on #36
I think the best place for my PR #41 is in the spec, rather than in the charter.

[2019-07-02 18:40] msporny commented on #36
The group discussed this on the 2019-07-02 call and agreed with the comments in https://github.com/w3c-ccg/did-wg-charter/issues/36#issuecomment-507453496. Closing.

[2019-07-02 18:40] #36 closed, assigned to peacekeeper, rhiaro, talltree

[2019-07-02 18:44] msporny commented on #42
@nadalin The charter already includes Browser APIs as out of scope, it already does what you are requesting.

[2019-07-02 18:46] msporny commented on #42
@nadalin - additionally, the charter explains the following (which should be sufficient for questions related to how browsers are expected to support DIDs):

[2019-07-02 18:48] msporny commented on #42
The group discussed this on 2019-07-02 and agreed with the comments in https://github.com/w3c-ccg/did-wg-charter/issues/42#issuecomment-507799307 and https://github.com/w3c-ccg/did-wg-charter/issues/42#issuecomment-507799935. Closing.

[2019-07-02 18:48] #42 closed, assigned to ChristopherA, jandrieu, peacekeeper, burnburn, talltree

[2019-07-02 18:55] jandrieu commented on #33
Added PR with link to "Required Features" section of the use case document.
https://github.com/w3c-ccg/did-wg-charter/pull/54

[2019-07-02 18:56] msporny commented on #43
The group discussed this on 2019-07-02 and agrees that the goal of the DID WG is to define interop at the DID syntax, DID Document data model, and DID Method specification requirements level and not to define a protocol, which would be required to achieve operation-level interop independent of the method. The DID WG Charter already specifies protocol as out of scope for the WG.

[2019-07-02 18:56] #43 closed, assigned to ChristopherA, jandrieu, burnburn, kimdhamilton

[2019-07-03 00:01] nadalin commented on #43
@msporny The operation is independent from the protocol, as each protocol can implement the operation differently.

[2019-07-03 00:02] nadalin commented on #43
@msporny I don't agree with closing this with the rational given here

[2019-07-03 15:45] jandrieu opened #55 "Test suite should be listed in deliverables"
Section 1.2 Success Criteria specifies a test suite, but that is not listed as a deliverable in Section 1. Scope.

IMO, this is editorial since, clearly, a test suite is meant to be a deliverable of the working group.

[2019-07-04 02:39] #20 closed, assigned to nobody

[2019-07-04 02:57] #37 closed, assigned to nobody

[2019-07-04 02:58] #46 closed, assigned to nobody

[2019-07-04 03:14] msporny commented on #33
We discussed this on the 2019-07-02 call and the group agreed to reference the required features section of the use cases document from the charter.

[2019-07-04 03:14] #33 closed, assigned to nobody

[2019-07-04 05:10] msporny commented on #55
Yep, charter already identified test suite as in scope. The change is editorial.

Fixed in 603f07b969d9a5e8071df52f9652a887f0e8c2b7.

[2019-07-04 05:10] #55 closed, assigned to nobody

[2019-07-04 05:15] msporny commented on #21
@nadalin, please define what you mean by "either method or operation level interop".

I also suggest that you re-read the charter as several new statements related to expected interop have been added to the charter based upon your request, namely:

This means that the group has decided to focus on interop for DID URI syntax and DID Document syntax and the production and consumption of that data. W

[2019-07-05 01:56] msporny commented on #21
We discussed this on the 2019-07-02 call and the group decided to further clarify interoperability through PR #32 and PR #57 (among others that clarified deliverables and defined interop).

[2019-07-06 01:56] #21 closed, assigned to peacekeeper, rhiaro, talltree, kimdhamilton

[2019-07-08 17:49] nadalin opened #59 "Clarity on Section 2.1"
"These new identifiers are designed to enable the controller of a DID to prove control over it and to be implemented independently of any centralized registry, identity provider, or certificate authority"

I assume that a DID can be used by a centralized registry, identity provider, or certificate authority and the "independently" is not a requirement?

[2019-07-08 17:51] nadalin opened #60 "Odd verbage hard to parse"
"DIDs are URLs that relate a DID subject to means for trustable interactions with that subject"

I'm not sure about this sentence as it would be hard to parse for non-native English speakers

[2019-07-08 17:54] nadalin opened #61 "single or multiple controllers ?"
"These provide a set of mechanisms which enable a DID controller to prove control of the DID" is the intent to always and only have a single controller or is the intent to be able to have multiple controllers?

[2019-07-08 18:44] TallTed commented on #60
Do you have any suggestions for rewording?

[2019-07-08 18:47] TallTed commented on #61
Any given DID might have multiple controllers, all of which would be able to prove that control.

[2019-07-08 19:12] nadalin commented on #60
DIDs are URLs that relate a DID subject for trustable interactions with that subject

[2019-07-08 19:15] nadalin commented on #61
These provide a set of mechanisms which enable any DID controller to prove control of the DID

[2019-07-08 19:19] TallTed commented on #60
This does not seem to resolve your stated concern.  I am a native English speaker, and I cannot parse this, which appears to be not so much a rewording of the original as a removal of two words ("to means") which are key to the original sentence's meaning.  I cannot imagine that a non-native English speaker would be able to parse it any better.  Any other suggestions?

[2019-07-08 19:24] TallTed commented on #61
I think you're trying to suggest a rewording, not to make a comment.

If I understand your concern with the wording, how about --

[2019-07-08 19:26] nadalin commented on #61
I could live with that

[2019-07-08 20:10] dlongley commented on #59
Correct.

[2019-07-08 21:57] nadalin commented on #60
I don't understand the "to means" please explain how that applies and then I may be able to suggest alternative text

[2019-07-08 23:01] nadalin opened #63 "Decentralized Characteristics Rubric v1.0"
"Decentralized Characteristics Rubric v1.0
The Working Group will develop a rubric of decentralized characteristics for DID Method specifications. This rubric will provide reference points according to which a DID Method specification may self-certify, or an independent third party may evaluate, the DID Method specification's level of adherence to principles of decentralization. "

Since actual DI

[2019-07-09 03:28] msporny commented on #59
Recommend closing as the charter already does what the issue submitter has requested.

[2019-07-09 03:30] msporny commented on #60
@nadalin, what about this as a replacement?

"DIDs are URLs that relate a DID subject to one or more mechanisms that may be used for trustable interactions with that subject."

[2019-07-09 03:35] nadalin commented on #59
I disagree with closing as the charter does not do this

[2019-07-09 03:38] msporny commented on #63
The Rubrics are not a DID Method, nor are they a certification method (in an official sense). They are meant to codify what the community that created DIDs, as well as the DID WG means when they say decentralized.

Note that this deliverable was added to address two things that you requested in the specification: 1) to allow centralized DID methods, and 2) to clarify what is and is not possible wi

[2019-07-09 03:42] msporny commented on #59
How does the charter not allow for any of the following: "centralized registry, identity provider, or certificate authority"?

[2019-07-09 03:43] nadalin commented on #63
@msporny The text says this is for DID METHOD SPECIFICATIONS, It also says for SELF-CERTIFICATION. I agree the text was added to address an issue I opened but it does not address the issue. I disagree with the resolution and the issue should not have been closed

[2019-07-09 03:46] nadalin commented on #63
@msporny I don't think anyone would also understand what a rubric in this sense.

[2019-07-09 03:52] msporny commented on #63
@nadalin wrote:

Yes, and since the group is working on the following as in scope, it is perfectly reasonable to talk about expectations related to DID Methods. Note that this has nothing to do with actually defining a DID Method (which would require the specification of protocol, which is out of scope):

@nadalin wrote:

It says the following:

The document is non-normative. It states that DID Me

[2019-07-09 04:00] nadalin commented on #63
@msporny I don't agree that this would be in scope as written since there are no DID method defined in this proposed WG, it should not talk about self-certification since there is no certification in this proposed WG, so why bring in things into charter that are out of scope, this adds no clarity to charter it just confuses things.

[2019-07-09 04:05] msporny commented on #63
@nadalin wrote:

As I mentioned above, we'll put this to the group and see what they say.

[2019-07-09 08:34] talltree commented on #60
I'm fine with that.

[2019-07-09 14:25] nadalin opened #64 "DID Method Specification Requirements"
"Recommend a set of requirements for DID Method specifications that are conformant with the data model and syntax(es). The DID Method specification authoring requirements will recommend a list of mandatory and optional operations, with associated descriptions, which are expected to be defined in DID method specifications. "

Since this specification is not defining DID methods I would think that t

[2019-07-09 14:28] nadalin opened #65 "deterministic mapping"
"Establish a deterministic mapping between DID method identifiers and the resolution process used to resolve that DID method. "

I don't understand what this means, are you saying that this WG will work on DID resolvers and the requirements of a DID resolver?

[2019-07-09 15:11] nadalin commented on #59
@msporny It's not clear, read my issue and your response, so the centralized registry, identity provider, or certificate authority are optional so suggest

"These new identifiers are designed to enable the controller of a DID to prove control over it may be  implemented independently of any centralized registry, identity provider, or certificate authority"

[2019-07-09 15:12] nadalin commented on #63
@msporny This also applies to item 4 of the Scope

[2019-07-09 15:18] nadalin opened #66 "Normative Specifications"
"Each DID Document may express cryptographic material, verification methods, and/or service endpoints. **These provide a set of mechanisms which enable a DID controller to prove control of the DID**."

Is this WG defining "mechanisms" for authentication?  Clarity required here

[2019-07-09 15:41] jandrieu commented on #63
I'd agree with removing the language about self-certifying, but the rest is a requirement of the work. There is too much confusion around what "decentralized" might mean and passionate voices from multiple sides of the debate have a agreed that codifying what "decentralized" means for people in this community is vital to shape the work ahead.

However, I expect many of the rubrics will be too subj

[2019-07-09 15:54] nadalin commented on #63
@jandrieu Since this is a data model specification and no protocols or mechanisms specified the usage is up to the implementor/deployer and anyone should be able to use this data model as they see fit since the design is based upon the  URI specification.

[2019-07-09 16:18] talltree commented on #65
This was suggested by Justin Richer and Joe Andrieu to clarify that the DID spec will specify a how DID method name is mapped to the code necessary to resolve that DID method. I would say this requirement is independent of any particular approach to DID resolvers.

[2019-07-09 16:21] talltree commented on #64
I strongly disagree. DID Method specs are not necessarily going to be done in the W3C or in any SDO. The model here is the URI spec, RFC 3986. It imposes requirements on compliant URI scheme specs. We're doing the same thing.

[2019-07-09 16:44] nadalin commented on #64
@talltree I suggest adding a Generic DID Method Syntax specification to the deliverables section then as this should not be part of the Decentralized Identifiers v1.0 specification so this can be changed independently if needed.

The wording also suggests that this is more than syntax which is a concern

[2019-07-09 16:55] dlongley commented on #59
The statement means: "These new identifiers are designed to be implemented independently of any centralized registry, identity provider, or certificate authority." This is true and a major reasoning behind the design. It does not say that you can't implement them in some other way. We simply talk about what the technology enables here. Note that the other ways may be unbounded -- so we can't and s

[2019-07-09 16:59] nadalin commented on #59
@dlongley as written, when reading it this sounds like it is only for implementations that do this independently from a central registry, identity provider, or certificate authority. So what is wrong with clarifying it with a MAY, as I'm not asking for any exmaples

[2019-07-09 17:03] jandrieu commented on #63
@nadalin Think of the rubrics like use cases. They are both non-normative documents that capture the purpose of the community developing the spec. The role of both is to illustrate the thinking behind the normative work. Just like use cases, rubrics help flesh out the point of the work so those working on the details in the specification have a common language and set of expectations about the goa

[2019-07-09 17:06] dlongley commented on #59
@nadalin, your example text with "may" is not correct, it changes the meaning of what is being said.

The current text says two things (which are the two things we want it to say):

1. These new identifiers are designed to enable the controller of a DID to prove control over it.
2. These new identifiers are designed to be implemented independently of any centralized registry, identity provider, or

[2019-07-09 17:16] jandrieu commented on #59
+1 @dlongley The point of the charter is to explain what is being done and why. The WHY is because recent developments in technology allow a new structure for collaborative consensus, making decentralized identifiers possible. These statements are statements of fact, describing the motivation behind the work.

There should be no changes here.

[2019-07-09 17:24] nadalin commented on #59
@dlongley I assume it's not the goal of this WG not to allow or to make this specification useless for Centralized registries (etc), this is what I'm looking for clarity on. I don't think that MAY changes anything but adds the clarity that Centralized registries (etc) are in scope.

[2019-07-15 18:03] brentzundel commented on #66
Simple answer, No.

The clarity you seek may be found in the "Out of Scope" section of the charter:

Recommend closing this issue, as the charter already clearly states that "defining "mechanisms" for authentication" is out of scope.

[2019-08-07 21:46] nadalin opened #68 "Issue with other deliverables listed in charter"
Since the charter does not include actually defining DID methods and is only defining mandatory operations and since the data model is driven from the usecases that the WG derives it seems out of place and potentially limiting the usage and deployment of DIDs by specifying a “rubric” as URLs (RFC 3986) have no rubrics attached to them neither should these identifiers as they are just identifiers.

[2019-08-08 00:49] csuwildcat commented on #63
Can we strike a compromise where we all agree to include in the spec's non-normative Introduction section the purpose of Decentralized Identifiers (things like self-owned/controlled IDs that are not severable by third parties), and point to 'more information' that links to a set of rubrics an org like DIF could define (and I'd argue is a prime place to do so). I am prepared to argue that I am a _r

[2019-08-08 02:04] brentzundel commented on #68
Recommend closing this issue as it seems to be a duplicate of issue #63

[2019-08-08 02:08] nadalin commented on #68
@brentzundel not a duplicate, this was raised on the draft charter and never addressed and this is on the proposed charter, and this includes 2 sections of the charter in question whereas #63 was just the later part.

[2019-08-08 02:53] ChristopherA commented on #68
The decision by W3C-CCG to include a non-normative, self-certifying rubric document as part of the DID-WG charter deliverables was already part of the compromise to address Anthony's other objections by those who feel that we are moving too far away from the "decentralization" in Decentralized Identifiers. As Anthony has not been active in the CCG activities nor was involved in the compromise disc

[2019-08-08 16:03] stonematt commented on #68
Recognizing that "Decentralized" is in the title of the specification and the working group and that decentralized as a concept may be implemented to varying degrees on a spectrum between decentralized and centralized, it seems entirely appropriate for the group to help normalize the language and understanding of "how decentralized is this".  I'm strong +1 to keep this in the charter.

[2019-08-12 23:51] csuwildcat commented on #68
I'll repost an extended recitation of my overarching question here to try and better understand the strategy behind including this non-normative work item as an actual activity/output of the WG:

I'd argue (and would be honestly surprised if folks didn't agree) that I am probably the most _radically_ pro-decentralization person on this thread. But even I, the libertarian Voluntaryist who passionat

[2019-08-13 19:31] brentzundel commented on #68
The addition of a rubric for decentralized characteristic arose in response to [this previous issue](https://github.com/w3c-ccg/did-wg-charter/issues/22#issuecomment-486848915).
The question was appropriately asked, "what makes a DID decentralized?" It was also pointed out that mandating decentralized roots of authority for DID methods will be outside of the scope of the DID specification, i.e., t

[2019-08-13 21:12] csuwildcat commented on #68
I was under the impression (from my chat with @jandrieu) that we wouldn't be adding explicit evaluation facets (which I actually like on a personal level), and instead the rubric would be a series of high-level questions. This was the doc I was directed to examine: https://github.com/WebOfTrustInfo/rwot9-prague/blob/master/topics-and-advance-readings/rubrics.md

Following on, are you saying these

[2019-08-13 23:11] jandrieu commented on #68
I don't know what you mean by "explicit evaluation facets" but any question that allows one to evaluate an aspect of how decentralized a DID method is, is fair game. The point is to provide a straightforward set of questions that anyone can use to evaluate whether or not a particular DID method meets their needs wrt to some benefit provided by decentralization.

This does not bubble up to a singul

[2019-08-14 02:04] csuwildcat commented on #68
*__Pokémon voice__* "A wild Rubric Conflict appeared!"

I'd argue for the exact opposite question/evaluation language for this example:

The fact that nodes, not some cabal of governance authorities, decide the network rules of robust public blockchains is a massive advantage that aids in maintaining the decentralized state of their networks. This was made eminently clear during the Congressional

[2019-08-14 06:55] jandrieu commented on #68
Yes. That's exactly what I said:

To you, that question's positive valence is inverted relative to some people's desire for clear and transparent governance. THAT's the whole point of the rubric(s)[1]. The questions do not stand in judgment, they ask questions which give illumination so that the evaluator can stand in judgment based on their own use cases, priorities, and politics. The rubrics are

[2019-08-14 13:49] csuwildcat commented on #68
So let me get this straight: we're either going to allow two questions about the same topic/issue, like the example you introduced above, which can be worded differently to argue for the exact opposite conclusion simultaneously, or we're going to craft one question that deftly argues both directions in the same breath - and we're going to do all this without: 1) people throwing fits and gridlockin